<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="good.dak.mapper.ItemMapper">
  	<!-- 상품추가 -->
  	<insert id="addItem">
  		insert into item (category, naming, price, seller, stock, info, regdate) values (#{category},#{naming},#{price},#{seller},#{stock},#{info},sysdate()); 
  	</insert>
  	
  	<!-- 상품 목록 -->
  	<select id="getList" resultType="good.dak.domain.ItemVO"> 
		<![CDATA[
			select * from item where ino > 0; 
		]]>
	</select>
	
	<!-- 페이징처리된 상품 목록 -->
	<select id="getListWithPaging" resultType="good.dak.domain.ItemVO">
	select* from
		(select @rownum:=@rownum+1 as rownum, ino, category, naming, price,seller, stock, info, regdate
		from (select @rownum:=0) as rownum
		, item  order by ino desc ) pageboard
		<![CDATA[
         where rownum>(#{pageNum}-1)*#{amount} and rownum<= #{pageNum}*#{amount}
        	]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from item
	</select>
  </mapper>