<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="good.dak.mapper.ItemMapper">
  	<insert id="addItem">
  		insert into item (category, naming, price, seller, stock, info, regdate) values (#{category},#{naming},#{price},#{seller},#{stock},#{info},sysdate()); 
  	</insert>
  </mapper>